.slide-animation {
  animation-duration: 1.8s;
  animation-fill-mode: both;
}

.slide-animation-left {
  animation-name: slideFromLeft;
}

.slide-animation-right {
  animation-name: slideFromRight;
}

.slide-animation-down {
  animation-name: slideFromBottom;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromBottom {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0);
  }
}
