.slide-content {
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 1.8s ease-in-out; /* Define the transition */
  }
  
  .slide-content.active {
    opacity: 1; /* When active, change opacity to 1 */
  }
  